/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.nav-wrapper {
  z-index: 150;
}

.main-nav {
  height: 64px;
    z-index: 150;
  margin-bottom: -64px;
    position: fixed;
  top: 0;
}

.adjust-index{
  z-index:0 !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .post-title {
    font-size: 35px;
  }
}
@media screen and (max-width : 1250px ){
    .container {
        width: 98%;
    }
}

.section {
  padding-top: 50px;
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.hoverable {
	overflow: hidden;
}

.hoverable:hover .card-image img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.card-image img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

a.post-link {
  text-decoration: none;
}

.post-description {
  color: rgba(0, 0, 0, 0.87) !important;
}

.card-title {
  color: rgba(0, 0, 0, 0.87);
}

.chip {
  color: #26a69a;
  background: white;
  border: #26a69a solid 1px;
}

.chip:hover {
  background: #26a69a;
  color: #fff;
  border: #e4e4e4 solid 1px;
}


.main-top{
    padding-top: 120px;
}

#top-bar {
    background: #d7ccc8; /**/
    height:200px;
    float:left;
    width:100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.container-main {
    position:relative;
}

.content {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    overflow: hidden;
    z-index: 9;
    margin-top: -120px;
    margin-bottom:50px;
    width: auto;
    position: relative;
    display: inline-block;
}


